@pci:registry=https://node.bit.cloud
@bit:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=b036d813-61c3-4928-af24-4959f2363ddc
//node.bit.cloud/:_authToken=b036d813-61c3-4928-af24-4959f2363ddc