@pci:registry=https://node.bit.cloud
@bit:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=1c8fbad8-d24a-4c5b-af40-c4773669866e
//node.bit.cloud/:_authToken=1c8fbad8-d24a-4c5b-af40-c4773669866e